{% extends 'base.html' %}
{% block index %}

<div class="container-fluid" style="padding-left: 0px;">
	<div class="row" style="height: 90vh; background: rgba(0,0,0, 0.6);">
		<div class="col-xs-3 col-md-3" style="padding-top: 20px">
			<div class="btn-group-vertical" style="padding-left: 15px;">
				<div class="btn-group">
					<button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" style="background: transparent; margin-bottom:-10px;">
				<p style="color: #a5b2bd; float: left; font-size: 90%; font-weight: 750;">Русский язык
					<span class="glyphicon glyphicon-menu-down"></span>
				</p>
					</button>
					<ul class="dropdown-menu" role="menu">
					<li><a href="#">Грамматика</a></li>
					<li><a href="#">Орфография</a></li>
					<li><a href="#">Пунктуация</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" style="background: transparent; margin-bottom:-10px;">
					<p style="color: #a5b2bd; float: left; font-size: 90%; font-weight: 750;">Математика
					<span class="glyphicon glyphicon-menu-down"></span></p>
					</button>
					<ul class="dropdown-menu" role="menu">
					<li><a href="#">Алгебра</a></li>
					<li><a href="#">Геометрия</a></li>
					<li><a href="#">Высшая математика</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" style="background: transparent; margin-bottom:-10px;">
					<p style="color: #a5b2bd; float: left; font-size: 90%; font-weight: 750;">Литература
					<span class="glyphicon glyphicon-menu-down"></span></p>
					</button>
					<ul class="dropdown-menu" role="menu">
					<li><a href="#">Классика</a></li>
					<li><a href="#">Писатели</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" style="background: transparent; margin-bottom:-10px;">
					<p style="float: left; color: #a5b2bd; font-size: 90%; font-weight: 750;">Биология
					<span class="glyphicon glyphicon-menu-down"></span></p>
					</button>
					<ul class="dropdown-menu" role="menu">
					<li><a href="#">Анатомия</a></li>
					<li><a href="#">Животный мир</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-xs-9 col-md-9" style="background: #f7f7f7;">
			{% for test in tests %}
			<div class="row" style="padding-top: 20px">
					<div class="col-xs-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-body"> 
								<h4><a href="{% url 'fullInformation' test_id=test.id %}" style="color: #525963; font-weight: 750;">{{test.name}}</a></h4>
								<p>{{test.shortInfo}}</p>
								<div class="row">
									<div class="col-xs-4 col-md-4">
										<span class="glyphicon glyphicon-check" aria-hidden="true" style="color: #455c73"> Создано {{test.dateStart | date:'d.m.Y' }}</span>
									</div>
									<div class="col-xs-3 col-md-3">
										<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color: #455c73"> {{test.сategorie}}</span>
									</div>
									<div class="col-xs-3 col-md-3">
										<span class="glyphicon glyphicon-signal" aria-hidden="true" style="color: #455c73"> Пройдено 0</span>
									</div>
									<div class="col-xs-3 col-md-3"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}