body{
	font-family: 'Exo 2', sans-serif;
    background:#acb3ba;
	color:#20303d;
}

.header {
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    height:129px;
	color: #000000;
}
#titl{
	font-size:25px;
	font-weight: 600;
	margin-top:40px;
}
/*Форма регестрации*/
.regest{
	margin-left:500px;
	float:center;
	margin-top:10px;
}