@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
	min-width: 722px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.input-group-addon.beautiful input[type="checkbox"],
.input-group-addon.beautiful input[type="radio"] {
    display: none;
}

   textarea {
    width: 100%; /* Ширина поля в процентах */
    height: 100%; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
   } 

.navbar.navbar-default{
background: #5bc0de;
}