{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/script.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
<title>
Олимп
</title>
</head>
<body>

<div class="header">
	<p class="logo">ОЛИМП</p>
	<p class="loginlo"><a href="">йцу<img src="https://www.classrr.com/storage/images/a6bcaa15ed5d47fbf1049238e54e6664.jpeg"></a></p>
</div>

	{% block index %}{% endblock %}

	{% block content %}{% endblock %}

	{% block test %}{% endblock %}




<div class="footer">
	<p class="slk" >@2018<a href="" ip="fg"> ДНО</a></p>
</div>	

</body>
</html>