{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/script.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
<title>
Олимп
</title>
</head>
<body>

<div class="header">
	<p class="logo"><img src="https://pp.userapi.com/c845421/v845421177/9b60/3QBrvHHF7W0.jpg"></p>
	<p class="iconki1"><a href="https://vk.com/tltsu" title="VK"><img src="https://pp.userapi.com/c845421/v845421177/9b90/v5lwh8-GPLs.jpg"></a></p>
	<p class="iconki2"><a href="https://www.tltsu.ru/" title="Instagram"><img src="https://pp.userapi.com/c845421/v845421177/9b6e/o0BcwKEW_4o.jpg"></a></p>
	<p class="loginlo"><a href="">йцу<img src="https://www.classrr.com/storage/images/a6bcaa15ed5d47fbf1049238e54e6664.jpeg"></a></p>
	<div class="dno">Сашкино ДНО</div>
	<div class="sidebar">
		<ul>
			<li><a href="content.html">Главная</a>|</li>
			<li><a href="test.html">Тесты</a>|</li>
			<li><a href="">Обучающимся</a>|</li>
			<li><a href="">Опросы</a>|</li>
			<li><a href="">Новости</a></li>
		</ul>
	</div>
</div>

	{% block index %}{% endblock %}

	{% block content %}{% endblock %}

	{% block test %}{% endblock %}




<div class="footer">
	<p class="slk" >@2018<a href="" ip="fg"> ДНО</a></p>
</div>	

</body>
</html>