{% extends 'base.html' %}
{% block fullInformation %}
	<div class="row">
	<div class="col-xs-3 col-md-3"></div>
	<div class="col-xs-8 col-md-8"> 
		<div class="panel panel-default">
			
			<div class="panel-body"> 
			 	<h3><a href="">{{test.name}}</a></h1>
			 	<p> <b>Автор:</b> {{test.author}}	</p>
			 	<p> <b>Полная информация:</b> 
					{{test.fullInfo}}
				</p>
			 	<p> <b>Категория:</b> {{test.сategorie}}	</p>
			 	<p> <b>Вопросов:</b> {{test.colQuition}}	</p>
			 	<p> <b>Время прохождения:</b> {{test.timeTest}} мин	</p>
			 	<p> <b>Создан:</b> {{test.dateStart | date:'d.m.Y' }}	</p>
        	</div>

 		</div>
 		<a href="{% url 'test' test_id=test.id %}" type="submit" class="btn btn-primary">Начать тест</a>
	</div>
</div>
{% endblock %} 