{% extends 'base.html' %}
{% block fullInformation %}
	<div class="row">
	<div class="col-xs-3 col-md-3"></div>
	<div class="col-xs-8 col-md-8"> 
		<div class="panel panel-default">
			
			<div class="panel-body"> 
			 	<h3><a href="">Название теста</a></h1>
			 	<p> <b>Автор:</b> Очень хороший человек	</p>
			 	<p> <b>Полная информация:</b> 
					Глиссандо многопланово. Алеаединица, и это особенно заметно у Чарли Паркера или Джона Колтрейна, заканчивает контрапункт контрастных фактур. Говорят также о фактуре, типичной для тех или иных жанров ("фактура походного марша", "фактура вальса" и пр.), и здесь мы видим, что алеаторика выстраивает миксолидийский звукосниматель. Явление культурологического порядка использует сет. Плавно-мобильное голосовое поле, и это особенно заметно у Чарли Паркера или Джона Колтрейна, полифигурно выстраивает диссонансный рефрен. Open-air неизменяем.
				</p>
			 	<p> <b>Категория:</b> Информатика	</p>
			 	<p> <b>Вопросов:</b> 20	</p>
			 	<p> <b>Время прохождения:</b> 90 мин	</p>
			 	<p> <b>Создан:</b> 7.04.2018	</p>
        	</div>

 		</div>
 		<button type="submit" class="btn btn-primary">Начать тест</button>
	</div>
</div>
{% endblock %} 