{% extends 'base.html' %}
{% block fullInformation %}
	<div class="row" id="panelTest">
	<div class="col-xs-2 col-md-2" style="margin-right:-14px;"></div>
	<div class="col-xs-8 col-md-8"> 
		<div class="panel panel-default" id="panel1">
			
			<div class="panel-body"> 
			 	<h3 id="nameTest">{{test.name}}</h3>
			 	<p> <b>Автор:</b> {{test.author}}	</p>
			 	<p> <b>Полная информация:</b> 
					{{test.fullInfo}}
				</p>
			 	<p> <b>Категория:</b> {{test.сategorie}}	</p>
			 	<p> <b>Вопросов:</b> {{test.colQuition}}	</p>
			 	<p> <b>Время прохождения:</b> {{test.timeTest}} мин	</p>
			 	<p> <b>Создан:</b> {{test.dateStart | date:'d.m.Y' }}	</p>
        	</div>

 		</div>
		<div class="col-xs-5 col-md-5"></div>
 		<a href="{% url 'startTest' test_id=test.id %}" type="submit" class="btn btn-primary" id="NachatTest">Начать тест</a>
	</div>
</div>
{% endblock %} 