{% extends 'base.html' %}

{%load staticfiles%}
{% block test %}



<div class="row">
	<div class="col-xs-1 col-md-1"></div>
	<div class="col-xs-10 col-md-10">
	    <div>
	        <ul class="pagination pagination-sm">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
	        </ul>
	    </div>

<!--нумерация страниц -->
            <ul class="pagination pagination-sm">
                {% for page in qwestions.paginator.page_range %}
                    {% if page == qwestions.number %}
                        <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

	<div class="panel panel-primary">
		{% for qwestion in qwestions %}   
        <div class="panel-heading">
        	<h4>{{ qwestion.answer }}</a></h4>
        </div>
        <!---checkbox-->
        <div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" >
					<!--<i class="fa fa-2x icon-checkbox"></i>-->
				<p>{{ qwestion.qwestion1 }}</p>
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" >
					<!--<i class="fa fa-2x icon-checkbox"></i>-->
				<p>{{ qwestion.qwestion2 }}</p>
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" >
					<!--<i class="fa fa-2x icon-checkbox"></i>-->
				<p>{{ qwestion.qwestion3 }}</p>
				</label>
			</div>
			<div class="radio">
				 <label>
					<input type="radio" name="optionsRadios" >
					<!--<i class="fa fa-2x icon-checkbox"></i>-->
				 	<p>{{ qwestion.qwestion4 }}</p>
 				</label>
 			</div>
		</div>
	</div>
{% endfor %}
<!--кнопки пагинации -->
<div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pager">
                {% if qwestions.has_previous %}
                    <li><a href="/page/{{ qwestions.previous_page_number }}/">Предыдущий</a></li>
                {% else %}
                    <li><a href="">Начало</a></li>
                {% endif %}
                <li><a href="#" id="answer">Ответить</a></li>
                {% if qwestions.has_next %}
                    <li><a href="/page/{{ qwestions.next_page_number }}/">Следующий</a></li>
                {% else %}
                    <li><a href="">Конец</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


</div>
</div>

{% endblock %}