{% extends 'base.html' %}
{% block test %}

<div class="row">
	<div class="col-xs-1 col-md-1"></div>
	<div class="col-xs-10 col-md-10">
	    <div>
	        <ul class="pagination pagination-sm">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
	        </ul>
	    </div>

		<div class="panel panel-primary">
        <div class="panel-heading">
        	<h4 class="list-group-item-heading">Поезд едит со скоростью 50 км/ч.Ему на встречу летит самолет из Тайланда.Наташа прочитала за каникулы 5 книг, а Катя прочитала 4 книги. Какая температура на Сатурне, если топор был зеленый?</h4>
        </div>


        <!---checkbox-->
        <div> 
			<div class="checkbox">
				<label>
					<input type="checkbox" value="">
					<i class="fa fa-2x icon-checkbox"></i>
					Option one is this and that&mdash;be sure to include why it's greatption one is this and that&mdash;be sure to include why it's greatption one is this and that&mdash;be sure to include why it's greatption one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" >
					<i class="fa fa-2x icon-checkbox"></i>
				Option one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" >
					<i class="fa fa-2x icon-checkbox"></i>
				Option one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" >
					<i class="fa fa-2x icon-checkbox"></i>
				Option one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="radio">
				 <label>
					<input type="radio" name="optionsRadios" >
					<i class="fa fa-2x icon-radio"></i>
				 	Option one is this and that&mdash;be sure to include why it's great
 				</label>
 			</div>
		</div>

	</div>

	<div class="bs-example">
    	<ul class="pager">
	        <li><a href="#">Предыдущий</a></li>
	        <li><a href="#" id="answer">Ответить</a></li>
	        <li><a href="#">Следующий</a></li>
    	</ul>
    </div>

</div>

</div>


{% endblock %}